<div class="container mt-5 mb-5">
  <h5 class="mb-5">Editing Category</h5>

  <%= render 'form', category: @category %>

  <%= link_to 'Show', @category %> |
  <%= link_to 'Back', categories_path %>
</div>
